<div class="jumbotron bg-info text-white text-center px-5 py-2">
  <h1>Select A Burger</h1>
  <form class="form-select">
    <select class="form-control" type="text" id="burger" placeholder="Select a burger...">
      <option value="0">Select a Burger...</option>
      <option>Hamburger</option>
      <option>Cheeseburger</option>
      <option>Bacon Cheeseburger</option>
      <option>Hawaiian Burger</option>
      <option>Chicken Sandwich</option>
      <option>Krabby Patty</option>
      <option>Chicken Nuggets</option>
      <option>Salad</option>
    </select>
    <button class="btn btn-primary my-3 px-5" type="submit">Select</button>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="plate select">
        <img class="img-fluid" src="assets/imgs/none.jpg" alt="Select Burger">
      </div>
      <button id="move-plate" class="w-100 btn btn-primary my-3">Move to Plate</button>
    </div>
    <div class="col-md-6">
      <div class="plate eat">
        <img class="img-fluid" src="assets/imgs/none.jpg" alt="Devour Burger">
      </div>
      <button id="devoured" class="w-100 btn btn-primary my-3">Devour</button>
    </div>
  </div>
</div>

<script>
  var plate_full = false

$(".form-select").on("submit", function (e) {
  e.preventDefault()
  if ($("#burger").val() != 0) {
    var burger_name = $("#burger").val()
    $(".select").data("burger", burger_name)
    var burgImg = burger_name.toLowerCase().replace(" ", "_") + ".jpg"
    $(".select img").attr("src", "assets/imgs/" + burgImg)
  } else {
    alert("Please Pick a Burger First")
  }
})

$("#move-plate").on("click", function (e) {
  if (!plate_full && $(".select img").attr("src") != "assets/imgs/none.jpg") {
    var src = $(".select img").attr("src")
    var burgerObj = {
      burger_name: $(".select").data("burger")
    }
    $.ajax("api/burgers", {
      type: "POST",
      data: burgerObj
    }).then(res => {
      $(".select img").attr("src", "assets/imgs/none.jpg")
      $(".eat").data("id", res)
      $(".eat img").attr("src", src)
      plate_full = true
    })
  } else {
    alert("Eat everything on your plate first")
  }
})

$("#devoured").on("click", function (e) {
  if (plate_full) {
    var id = $(".eat").data("id")
    $.ajax("api/burger/" + id, {
      type: "PUT"
    }).then(res => {
      $(".eat img").attr("src", "assets/imgs/none.jpg")
      $(".eat").data("id", null)
      plate_full = false
    })
  } else {
    alert("You most first move a burger to a your plate")
  }

})
</script>